<div class="container-paginacao">
    <button class="btn btn-default" id="btn-voltar-pagina">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </button>
    <button class="btn btn-default" id="btn-avancar-pagina">
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </button>
</div>