@model IEnumerable<Maturidade_Online.Dominio.Subtopico>

@if (Model != null)
{
    <table class="table table-striped" id="listagem-subtopicos">
        <thead>
            <tr>
                <th>Pilar</th>
                <th>Subtópico</th>
                <th>Atendido</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var subtopico in Model)
            {
                <tr id="subtopico">
                    <td>@subtopico.Pilar.Titulo</td>
                    <td>@subtopico.Nome</td>
                    <td>
                        <input data-pontuacao="@subtopico.Pontuacao" id="ids-subtopicos" type="checkbox" value="@subtopico.Id" name="IdsSubtopicos" />
                    </td>
                </tr>
            }
            

        </tbody>
    </table>
}