@{
    ViewBag.Title = "Subtópicos";
}
<legend>Subtópicos</legend>

<div class="panel panel-default">
    <div class="panel-heading">
        @Html.Partial("_PaginacaoBotoes")
        <a href="/Subtopico/Manter" class="btn btn-success pull-right">
            <i class="fa fa-plus" aria-hidden="true"></i>
            <span>Novo Subtópico</span>
        </a>
    </div>
    <div class="panel-body" id="container-lista"></div>
</div>
@Html.Partial("_ModalExcluir")

@section scripts {
    @Scripts.Render("~/bundles/paginacao")
}