body {
    padding-top: 100px;
    padding-bottom: 20px;
}

/* Login */

div.login-item {
    margin: 15px auto;
}

.login-erro > .alert-danger li {
    padding: 5px;
    margin-bottom: 5px;
    
}

.login-erro > .alert-danger ul {
    list-style-type: square;
}

.login-erro > .alert-danger {
        border-radius: 10px;
}

.panel-manter .panel-heading{
    background-color: black;
    color: white;
    font-size:20px;
}

.panel-manter .btn{
    background-color: lightgreen;
    font-weight: bold;
    border: 1px solid;
}

#panel-login {
    border-color: black;
}

#panel-login .panel-heading {
    background-color: black;
    color: white;
    border-color: black;
}

#panel-login .btn {
    background-color: orange;
    margin: 0 auto;
    font-weight: bold;
    color: white;
}


/* Projeto Cadastrar*/
#caracteristicas > span.select2-container--default .select2-selection--multiple {
    border-radius: 0px 4px 4px 0px;
}
#caracteristicas > span.select2.select2-container.select2-container--default {
    display: block;
    width: 100% !important;
}




/* Projeto Listar */
.projeto > .panel-body > .coluna {
    vertical-align: top;
    display: inline-block;
    word-break:break-all;
}

.pilar {
    font-weight: bold;
}
.verde {
    background-color: green;
}
.amarelo {
    background-color: yellow;
}
.vermelho {
    background-color: red;
}

.pilar-valores, pilar-cabecalho {
    text-align: center !important;
    font-weight: bold;
}

.pilar-valores{
    color: #000000;

}

/* Pilar */

.grid-listagem{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 100px
}

.grid-listagem .grid-lista{
    border: solid 1px;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 50px;
    padding: 10px;
}