
body {
    padding: 100px 10px 50px 10px;
}

.navbar-brand {
    padding: 10px;
}

.container-paginacao {
    display: inline-block;
}

#modal-excluir .modal-header {
    background-color: #d9534f;
    color: white;
}

.btn-padrao {
    background-color: orange;
    margin: 0 auto;
    font-weight: bold;
    color: white;
}

input.btn:hover, input.btn:focus {
    color: #b98a00;
    text-decoration: none;
}

.btn-padrao:focus {
    outline-color: orange;
}

.btn-group {
    min-width: 50px;
}

@media (min-width: 760px){
    .menu-usuario {
        float: right;
    }
}

@media (max-width: 990px){
    #navbar-container {
        max-width: 100% ;
    }
}


/* Login */

div.login-item {
    margin: 15px auto;
}

.alerta-erro > .alert-danger li {
    padding: 5px;
    margin-bottom: 5px;
}

.alerta-erro > .alert-danger ul {
    list-style-type: square;
}

.alerta-erro > .alert-danger {
    border-radius: 10px;
}

.panel-manter .panel-heading {
    background-color: black;
    color: white;
    font-size: 20px;
}

#panel-login {
    border-color: black;
}

    #panel-login .panel-heading {
        background-color: black;
        color: white;
        border-color: black;
    }


/* Projeto Cadastrar*/
#caracteristicas > span.select2-container--default .select2-selection--multiple {
    border-radius: 0px 4px 4px 0px;
}

#caracteristicas > span.select2.select2-container.select2-container--default {
    display: block;
    width: 100% !important;
}


/* Projeto Listar */


.barra-de-progresso {
    display: inline-block;
    float: none;
    vertical-align: middle;
}

    .barra-de-progresso .progress-bar {
        min-width: 3em;
    }

.pilar-valores, pilar-cabecalho {
    text-align: center !important;
    font-weight: bold;
}

/* Pilar Listar */

#listar-pilares tbody tr td {
    vertical-align: middle;
}

/* Pilar Cadastrar */
.margin-top {
    margin-top: 60px;
}


#cadastrar-pilar {
    margin-bottom: 20px;
}

/* Subtópico - Cadastrar */

span.select2.select2-container.select2-container--default {
    display: block;
    width: 100% !important;
}

