@model ICollection<Maturidade_Online.Models.PilarViewModel>
@{
    ViewBag.Title = "ListarPilares";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Pilares</strong>
        <a href="/Pilar/Manter" class="btn btn-xs btn-success pull-right">
            <i class="fa fa-plus" aria-hidden="true"></i>
            <span>Novo Pilar</span>
        </a>
    </div>
    <div class="panel-body">
        <table id="listar-pilares" class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Pilar")
                    </th>
                    <th class="text-center">
                        @Html.DisplayName("Pontuação")
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pilar in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(_ => pilar.Titulo)
                        </td>
                        <td class="text-center">
                            @pilar.Subtopicos.Sum(_ => _.Pontuacao)
                        </td>
                       
                        <td>
                            <div class="btn-group btn-group-xs">
                                <a class="btn btn-xs btn-default" href="~/Pilar/Manter/@pilar.Id">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                                <a class="btn btn-xs btn-danger" href="~/Pilar/Excluir/@pilar.Id">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </div>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
