@model ICollection<Maturidade_Online.Models.PilarViewModel>
@{
    ViewBag.Title = "ListarPilares";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<legend>Pilares</legend>
<div class="panel panel-default">
    <div class="panel-heading">
        @Html.Partial("_PaginacaoBotoes")
        <a href="/Pilar/Manter" class="btn btn-success pull-right">
            <i class="fa fa-plus" aria-hidden="true"></i>
            <span>Novo Pilar</span>
        </a>
    </div>
    <div class="panel-body">
        <div class="table-responsive" id="container-lista">       
        </div>
    </div>
</div>

@Html.Partial("_ModalExcluir")

@section scripts {
    @Scripts.Render("~/bundles/paginacao")
}